:root {
  /* 1. Typography Scales */
  /* 1 rem = 16px (by default)*/
  --font-size-sm: 0.6rem;           /* 9.6px */
  --font-size-base: 1rem;         
  --font-size-lg: 1.5rem;             
  --font-size-paragraph: 1.75rem;    
  --font-size-heading: 2rem;       
  --font-size-title: 3rem;          

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* 2. Semantic colour Mapping */
	--colour-base-button: #7a2cf6;
	--colour-base-button-hover: #6a1acc;
  --colour-secondary-button: #2563eb;
  --colour-secondary-button-hover: #2564eb93;

  --colour-bg-gradient: #4300ff; 

  --colour-correct-answer: #28b446;
  --colour-incorrect-answer:#dc3131;

  --colour-hint-unclicked: #ffc400fc;
  --colour-hint-clicked: #c49900;

  --colour-text-primary: #ffffff;    /* for most text e.g. text in buttons on create game screen*/
  --colour-text-secondary: #7a2cf6;
  --colour-text-title: #0000cc;
  --colour-text-link: #2563eb;       /* for link to answer source */

  --colour-grey-light: #e0e0e0;
  --colour-grey-neutral: #c0c0c0;
  --colour-grey-dark: #c0c0c049;
}